@model cabme.webmvc.Models.LoginModel
@{
    ViewBag.Title = "Log in";
}
<h1>@ViewBag.Title</h1>
<p>
    Please enter your user name and password. @Html.ActionLink("Register", "Register")
    if you don't have an account.
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="accountInfo">
        <fieldset class="login">
            <legend>Account Information</legend>
            <p>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </p>
            <p>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </p>
            <p>
            </p>
        </fieldset>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
        <p class="submitButton">
            <input type="submit" value="Log in" />
        </p>
    </div>    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
