@model cabme.webmvc.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm())
{
    <p>
        Use the form below to create a new account.
    </p>
    <p>
    Passwords must be at least @Membership.MinRequiredPasswordLength characters long.
    </p>
    @Html.ValidationSummary()
    <div class="accountInfo">
        <fieldset class="register">
            <legend>Account Information</legend>
            <p>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </p>
            <p>
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber)
            </p>
            <p>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </p>
            <p>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </p>
            <p>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </p>
            <p>
            </p>
        </fieldset>
        <p class="submitButton">
            <input type="submit" value="Register" />
        </p>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
