<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="google-site-verification" content="XmgKMnIuLUT7ENVxWqfJ9gFn2woG11Cxy5WAS0k_C7w" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link rel="shortcut icon" href="/images/logo.png">
    <!--[if IE]>  
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>  
        <![endif]-->
    <!--[if lt IE 8]>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js"></script>
    <![endif]-->
</head>
<body class="no-js">
    <div class="loginDisplay">
        <nav id="topNav">
            <ul>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        @Html.ActionLink("Log In", "Login", "Account", null, null)
                    </li>
                }
                else
                {
                    if (User.IsInRole("Taxi"))
                    {
                    <li><a href="#" title="Actions">Actions</a>
                        <ul>
                            <li>@Html.ActionLink("View", "Index", "ViewBooking", null, null)</li>
                            <li>@Html.ActionLink("Invoices", "Index", "Invoice", null, null)</li>
                            <li class="last">@Html.ActionLink("Log Out", "Index", "Account", null, null)</li>
                        </ul>
                    </li>
                    }
                    else
                    {
                        if (User.IsInRole("Admin"))
                        {
                    <li><a href="#" title="Actions">Actions</a>
                        <ul>
                            <li>@Html.ActionLink("Book", "Index", "MakeBooking", null, null)</li>
                            <li>@Html.ActionLink("View", "Index", "ViewBooking", null, null)</li>
                            <li>@Html.ActionLink("Review", "Index", "ReviewBooking", null, null)</li>
                            <li>@Html.ActionLink("Admin", "Index", "AdminBooking", null, null)</li>
                            <li class="last">@Html.ActionLink("Log Out", "Index", "Account", null, null)</li>
                        </ul>
                    </li>
                        }
                        else
                        {
                    <li><a href="#" title="Actions">Actions</a>
                        <ul>
                            <li>@Html.ActionLink("Book", "Index", "MakeBooking", null, null)</li>
                            <li>@Html.ActionLink("View", "Index", "ViewBooking", null, null)</li>
                            <li>@Html.ActionLink("Review", "Index", "ReviewBooking", null, null)</li>
                            <li class="last">@Html.ActionLink("Log Out", "Index", "Account", null, null)</li>
                        </ul>
                    </li>
                        }
                    }
                }
            </ul>
        </nav>
    </div>
    <div class="page">
        <div class="header">
            <a href="/">
                <img runat="server" src="~/images/logo.png" alt="cabme logo" /></a>
            <h1>
                cabme
            </h1>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
    @Html.Partial("_ViewSwitcher")
        <a class="contact" href="mailto:cabmeinfo@abrie.net">Contact Us</a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.hubReady = $.connection.hub.start();
        });
        if (document.location.hostname.search("cabme.co.za") !== -1) {
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-32635806-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
